body{
    background: linear-gradient(rgba(208, 208, 208, 0.6), rgba(39, 127, 252, 0.3)), url(images/water.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1{
    color: #2575aa;
    font-size: 5rem;
}

header{
    text-align: center;
    margin: 10% auto;
    width: 80%;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

#link{
    color: #6ca4ca;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    font-size: 2rem;
}

#link::before{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #d0c9d4;
    background-image: linear-gradient(to right, #d0c9d4, #2575aa);
    transition: width 0.5s ease-out;
}

#link:hover::before{
    width:100%;
}

#link:hover{
    cursor: pointer;
}

.wrapper{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin: 5rem auto;
}

.card{
    height: 50rem;
    width: 35rem;
    background-size: cover;
}

.overlay{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
    background-size: contain;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.overlayText{
    color: #d0c9d4;
    font-weight: bold;
    width: 50%;
    text-align: center;
    display: none;
}

#reset{
    display: none;
}

.card:hover{
    cursor: pointer;
}

#deck{
    margin: 0 auto;
    display: block;
    background-image: url(images/deckCover.png);
    background-size: contain;
}

.load-container{
    width: 20rem;
    margin: 50px auto;
    display: none;
    text-align: center;
}

#load-text{
    color: #ffffff;
    font-weight: bold;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #2575aa;
    border-radius: 15px;
    margin-top: 5rem;
}

.dot{
    height: 50px;
    width: 50px;
    display: inline-block;
}

.dot1{
    background-image: url(images/fire.png);
    background-size: contain;
    animation: jump-up 0.6s 0.1s infinite;
}

.dot2{
    background-image: url(images/wind.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: jump-up 0.6s 0.2s infinite;
}

.dot3{
    background-image: url(images/earth.png);
    background-size: contain;
    animation: jump-up 0.6s 0.3s infinite;
}

.dot4{
    background-image: url(images/drop.png);
    background-size: contain;
    animation: jump-up 0.6s 0.4s infinite;
}

@keyframes jump-up{
    50%{
        transform: translate(0, 15px);
    }
}

.display-cards{
    display: none;
}

#cardInfo{
    background-color: #151b34;
    padding: 2rem;
    display: none;
    margin-top: 5rem;
}

.desc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#card-graphic{
    margin: 0 auto;
}

.card-desc{
    color: #d0c9d4;
    font-size: 1.75rem;
    width: 60%;
    margin: 0 auto;
}

.email{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(images/forest.jpg);
    background-position: center;
    min-height: 40vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d0c9d4;
    padding-bottom: 2rem;
    font-size: 1.75rem;
}

#emailInput{
    border: none;
    background-color: #151b34;
    border-radius: 1rem;
    height: 1.5rem;
    width: 100%;
    color: #d0c9d4;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.email-button{
    background-color: #151b34;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
}

.email-button:hover{
    background-color: #2575aa;
    
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.button{
    background-color: #151b34;
    color: #ffffff;
    font-weight: bold;
    display: block;
    margin: 50px auto;
    padding: 2rem;
    border: none;
    border-radius: 30px;
    font-size: 1.75rem;
}

.button:hover{
    background-color: #2575aa;
}

footer{
    min-height: 10vh;
}

.emailResult{
    display: none;
    justify-content: center;
    margin: 2rem auto;
}

.frameStyle{
    height: 5rem;
    border: none;
}

@media screen and (min-device-width: 480px){

    h1{
        font-size: 2.5rem;
    }

    #link{
        font-size: 1.5rem;
    }

    .card{
        height: 30rem;
        width: 20rem;
    }

    #load-text{
        font-size: 1.2rem;
        padding: 1.5rem;
        
    }

    .load-container{
        width: 15rem;
    }

    .button{
        font-size: 1.2rem;
    }

}


@media screen and (min-device-width:768px){

    .flex-container{
        flex-direction: row;
        margin: 2rem;
    }

    .desc-container{
        flex-direction: row;

    }   

    .card-desc{
        font-size: 1.5rem;
    }

    .email{
        font-size: 1.5rem;
        height: 30vh;
    }

    #emailInput{
        font-size: 1.5rem;
    }


    header{
        margin: 5% auto;
    }

}

@media screen and (min-device-width:1024px){

    .card{
        height: 25rem;
        width: 17.5rem;
    }

    h1{
        font-size: 2.25rem;
    }

    #link{
        font-size: 1rem;
    }

    .button{
        font-size: 1rem;
    }

    .email-button{
        font-size: 1rem;
    }

    #load-text{
        font-size: 1rem;
        padding: 1.25rem;
    }

    .dot{
        height: 35px;
        width: 35px;
    }

    #emailInput{
        font-size: 1rem;
    }

}

@media screen and (min-device-width:1440px){

    .desc-container{
        width: 70%;
        margin: 0 auto;
    }

    .email{
        font-size: 1.25rem;
    }

    
}

@media screen and (min-device-width:2560px){

    .desc-container{
        width: 50%;
        margin: 0 auto;
    }
}
